{{> nav  name=username}}
{{> client_nav}}
<div class="tab-pane" id="nav-tables" role="tabpanel" aria-labelledby="nav-tables-tab">
    <br>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-bbs" role="tabpanel"
            aria-labelledby="nav-bbs-tab">
            <br>
            <table id="flight-table" class="table table-striped table-hover cg"
                name="booked">
                <thead>
<tr>
    <th>Date of Departure</th>
    <th>Time of Departure</th>
    <th>Aiport of Departure</th>

    <th>Flight number</th>
    <th>Date of Arrival</th>
    <th>Time of Arrival</th>
    <th>Aiport of Arrival</th>
    <th>Adult Tickets</th>
    <th>Child Tickets</th>
    <th>Infant Tickets</th>
</tr>
                </thead>

                <tbody>
{{#each bookings}}
<tr>
    
    <th>{{this.flight.deptdate}}</th>
    <th>{{this.flight.depttime}}</th>
    <th>{{this.flight.deptarea}}</th>


    <th>{{this.flight.flightnum}}</th>
    <th>{{this.flight.arrivdate}}</th>
    <th>{{this.flight.arrivtime}}</th>
    <th>{{this.flight.arrivport}}</th>
    <th>{{this.adult}}</th>
    <th>{{this.child}} </th>
    <th>{{this.infant}} </th>
</tr>
{{/each}}
    </tbody>
</table>
        </div>
        <button id='clearB' type="button" class="btn mb-2 mr-2 rockwell"
            style="color: white;background-color: #b9b9b9; border-radius: 8px;">DELETE</button>
        <button id='edit-button' type="button" class="btn mb-2 rockwell"
            style="color: white; background-color: #b9b9b9;border-radius: 8px;"  onclick="window.location.href ='/Booking';">EDIT</button>

    </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>

